body{
    background-image : url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    font-family: 'VT323', monospace;
    color: aliceblue;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    }
    






/*                           */
/*        PARTE DE CIMA      */
/*                           */

.cartao {
    
    width: 370px;
    margin: 20px;
    
    
    
    text-align: center;
    
    border: 3px solid rgb(226, 141, 43);
    
    background-color: rgb(12, 12, 12);
    
    
}

.minhas-informacoes { 
    
    display: flex;
    flex-direction: column;
    align-items: center; /* alinha horizontalmente por causa do flex direction column */
    gap: 10px;
}

.foto-perfil {
    margin-top: 20px;
    border-radius: 100%;
    border: 4px solid rgb(243, 44, 44);
}

.nome {
    font-size: 1.5em ;
    
}

.cargo {
    font-size: medium;
    color: #b8bbc5;
}








/*                           */
/*        PARTE DE BAIXO     */
/*                           */


.conteudo {
    
    margin-top: 2px;
    

    
    
}


.abas {

    display: flex;
    

    

    
}

.abas img {
    width: 30px;
    height: 25px;

}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content:center;
    padding: 10px 0;
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out;  
}

.cartao .abas .aba.selecionado {
    background-color: rgb(41, 41, 41);

}

.cartao .informacoes-abas {
    background-color: rgb(41, 41, 41);
}

.cartao .abas .aba:hover {
    background-color: rgb(61, 61, 61);
}








/*                           */
/*            SOBRE          */
/*                           */

.informacoes-abas .informacao {
    
   
   height: 260px;

    
}

.sub-titulo {
    font-size: 22px;
    font-family: 'VT323', monospace;
}

.descricao {
    padding: 10px;
}


.descricao > p > span {
    color: red;
}

.redes-sociais {
   
    
    padding-left: 0%;
    text-decoration: none;
    list-style: none;
}


.curriculo { 
    text-decoration: none;
  background-color: red;

}

.linkedin {
    
    text-decoration: none;
    background-color: rgb(100, 100, 100);
}

.github { 
    text-decoration: none;
    background-color: green ;

}
