body{
    background-image: url(../imagens/javascript.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s ease-in-out;
    
    font-family: 'Press Start 2P', cursive;
    color: #f3f3f3;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    line-height: 15px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #6229ff;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 50%;
    border: 4px solid #6229ff;  
     
}

.cartao .minhas-informacoes .nome{
    font-size: 1.5em;
    text-align: center;
}

.cartao .minhas-informacoes .cargo{
    font-size: 1em;
    color: #b8bbc5;
    text-align: center;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
    height: 25px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 1.5em;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 1em;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px; 
}

.informacoes-abas .descricao span{
    color: #6229ff;
}

.informacoes-abas .descricao .ola {
    margin-bottom: 20px;
}

.bTitulo {
    font-size: 1.2em;
    margin-bottom: 25px;
    text-align: center;
}

.project {
    margin-top: 25px;
}

.projeto {
    text-decoration: none;
    color: #f3f3f3;
}


.imagem {
    width: 100%;
    object-fit: cover;
    display: none;
    animation: mudarImagem 0.7s;
}

.botao-carrossel {
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: -260%;
    left: 25%;
    margin-top: 10px;
}

.botao {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    
}

.botao.on{
    background-color: #6229ff;
}
    
.botao:hover{
    transform: scale(1.2);
}



.ativa {
    display: inline-block;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{    
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color: #06c185;
}

.redes-sociais .linkedin{
    background-color: #1d87bd;
}

.redes-sociais .github{
    background-color: #545454;
}

.bloco {
    position: absolute;
    top: 55%;
    left: 65%;
    max-width: 30%;
    background-color: white;
    opacity: 0;
    color: black;
    padding: 20px;
}

.bloco p {
    
    line-height: 18px;
    font-size: 1vw;
}

.btn {
    
    
    max-width: 150px;
    height: 30px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: none;
    transition: 2s ease-in-out;
    font-family: 'Press Start 2P', cursive;
    background-color: #262626;
    color: yellow;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.1);
}