* {
    scrollbar-width: thin;
    scrollbar-color:#6229ff #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #6229ff;
    border-radius: 20px;
    border: 3px solid #070d12;
}

@media (max-width: 750px){
    .informacoes-abas .sub-titulo{
        font-size: 1.5em;
    }
    .informacoes-abas .descricao{
        font-size: 1em;
    }
    .bTitulo {
        font-size: 1.2em;
    }
    .botao {
        width: 25px;
        height: 25px;
    }
    .bloco p {
        font-size: 2vw;
    }

}

@media (max-width: 400px){ 
    .botao {
        width: 45px;
        height: 45px;
    }
}
