* {
    scrollbar-width: thin;
    scrollbar-color:#6229ff #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #6229ff;
    border-radius: 20px;
    border: 3px solid #070d12;
}